:root {
  --primary-color: #d70f64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.max-w-xl {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}


.fp-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.fp-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.fp-logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #f82683;
  margin-left: 8px;
}

.fp-right-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.fp-login-btn, .fp-signup-btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  margin: 4px;
  cursor: pointer;
  font-size: 14px;
}

.fp-login-btn {
  border: 1px solid #d1d5db;
  color: #4b5563;
  background-color: transparent;
}

.fp-login-btn:hover {
  background-color: #f3f4f6;
}

.fp-signup-btn {
  background-color: #dc156e;
  color: white;
}

.fp-signup-btn:hover {
  background-color: #db2777;
}

.fp-language-select select {
  padding: 4px;
  border: none;
  outline: none;
  color: #ec4899;
  margin: 4px;
}

.card-icon {
  border: none;
  background-color: #fff;
  margin-top: 4px;
}

.card-icon:hover {
  background-color: #f0efef;
  border-radius: 20px;
}

/* Hero Section */
section.hero {
  padding: 0 1rem;
  height: 500px;
  position: relative;
  border: 2px solid transparent;
}

.hero h3 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-top: 9rem;
  min-width: 220px;
  width: 70%;
}


.hero .bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 33%;
  margin-left: 67%;
  background: url("assets/images/hero-bg-xl.webp");
  height: 100%;
  display: block;
  float: right;
  max-height: 335px;
  background-size: cover;
}

.hero .actions {
  margin-top: 2em;
  border-radius: 16px;
}

.actions .input-container {
  position: relative;
}


.actions input {
  width: 100%;
  padding: 17px 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dcdcdc;
  color: #333;
  font-size: 0.9rem;
 box-shadow: 0 .188rem 1.25rem rgba(0, 0, 0, .1);
}

.actions input::placeholder {
  color: darkgrey;
}

.input-container svg {
  position: absolute;
  top: 20px;
  right: 20px;
}

.actions button {
  margin: 0;
  padding: 0;
  background-color: #dc156e;
  margin-top: 1rem;
  width: 100%;
  color: white;
  border: none;
  height: 50px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-size: 300;
  cursor: pointer;
}
.actions button:hover {
  background-color: #a10e50; 
  transform: scale(1.03); 
}
/* Partners Section */
.partners {
  margin: 4rem 0;
  position: relative;
}

.partners .backdrop-text {
  padding: 0 2rem;
  font-size: 4.5rem;
  color: rgba(188, 186, 186, 0.12);
  font-weight: 900;
  position: absolute;
  top: -40px;
  left: -10px;
  z-index: -2;
}

.partners .caption {
  padding: 0 2rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.partners .background-image {
  background: url("assets/images/partner-bg.png");
  min-height: 280px;
  background-size: cover;
  height: 100%;
  background-position: center;
  z-index: -1;
}

.partners .content {
  background: #fff;
  border-radius: 18px;
  padding: 1rem;
  margin: -4rem 1rem 0;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 /12%);
}

.content p {
  font-size: 0.9rem;
  color: rgb(176, 174, 174);
}

.content .header-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: rgb(18, 17, 17);
}

.content button {
  background-color: var(--primary-color);
  margin-top: 1rem;
  width: 100%;
  color: white;
  border: none;
  height: 50px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-size: 300;
  cursor: pointer;
  padding: 0 5rem;
}

/* Cities */
.cities {
  margin-top: 8rem;
}

.cities .container {
  display: flex;
  padding: 1rem;
  overflow-x: scroll;
  justify-content: start;
  align-items: center;
}

.container .card {
  height: 275px;
  min-width: 230px;
  max-width: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
}

.buttonfoo {
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.container .card:hover::before {
  font-size: 12rem;
  color: var(--primary-color);
  opacity: 0.6;
  position: absolute;
  font-weight: 700;
  bottom: -56px;
  z-index: 1;
  left: -18px;
}



.card img {
  width: 100%;
  height: 100%;
  scale: 1.1;
  transition: all 0.3s ease;
}

.card img:hover {
  scale: 1.2;
}

.card p {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1;
}

/* App */
.app {
  margin-top: 10rem;
}

.app .caption {
  display: none;
}

.app .backdrop-text {
  z-index: 1;
}

.app .container {
  background: #dc156e;
  min-height: 485px;
  z-index: -1;
}

.container .max-w-xl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: left;
  padding: 1rem;
}

.container .image-container {
  position: relative;
  max-width: 424px;
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  min-height: 250px;
  text-align: center;
}

.image-container img {
  z-index: 2;
  position: absolute;
  width: 100%;
  max-width: 424px;
  inset: -80px 0 auto 0;
  margin-right: auto;
  margin-left: auto;
}

.content-container .sub-heading {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.content-container .text {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.content-container .buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons-container .center-svg {
  margin: 0 1rem;
}

/* Office */
.office {
  margin-top: 10rem;
}

.office .background-image {
  background: url("assets/images/office-bg.png");
  min-height: 280px;
  background-size: cover;
  height: 100%;
  background-position: center;
  z-index: -1;
}

.office .content {
  margin-top: -10rem !important;
}

/* FAQ */
.FAQ {
  padding: 1em;
  margin-top: 10rem;
  width: 100%;
}

.FAQ .heading {
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
  line-height: 2.1rem;
}

.FAQ .text {
  margin-top: 1.5rem;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.8rem;
}

.FAQ .text > a {
  text-decoration: none;
  color: var(--primary-color);
}

.FAQ .list {
  list-style-type: none;
  width: 100%;
  margin-top: 1.5rem;
}

.FAQ .list > li {
  width: 100%;
  font-weight: lighter;
  line-height: 1.8rem;
}

.FAQ li > span {
  color: var(--primary-color);
}

.FAQ .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.201);
  margin-top: 1.5rem;
}

.FAQ .sub-heading {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.FAQ .bold-text {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.FAQ .indented {
  padding-left: 2rem;
}

.FAQ .read-more {
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  padding: 1.5em 1em;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.FAQ .read-more:hover {
  background: rgba(128, 128, 128, 0.201);
}

.FAQ .read-more a {
  color: #000;
  text-decoration: none;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer .divider {
  width: 100%;
  height: 1px;
  background: rgba(128, 128, 128, 0.201);
  margin: 1.5rem auto;
}

/* Footer > Branding */
footer .branding {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.branding > svg {
  width: 10rem;
}

.branding .socials {
  justify-content: center;
  align-items: center;
  display: flex;
}

.socials img {
  width: 30px;
  margin-left: 1rem;
}

/* Footer > Links */
.links {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.links .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  line-height: 1.7rem;

}

.links a {
  text-decoration: none; 
  text-decoration: underline;  
    text-underline-offset: 3px;  
    text-decoration-thickness: 1px; 
    text-decoration-color: black; 
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--colorInteractionSecondary);
}

.links a:hover {
  color: var(--primary-color);
}

.first-col p {
  color: var(--colorInteractionSecondary);
  font-weight: 400;
  font-size: 0.9rem;
}

/* Footer > Countries */
.countries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.countries a {
  text-decoration: none;
  text-decoration: underline;  
  text-underline-offset: 3px;  
  text-decoration-thickness: 1px; 
  text-decoration-color: black;
  color: var(--colorInteractionSecondary);
  font-weight: 400;
}

.countries .vertical-divider {
  width: 1px;
  background: rgb(137, 135, 135);
  margin: 0 1rem;
  height: 18px;
}

/* ==================
  Media Queries
==================  */

@media screen and (min-width: 768px) {
 
  section.hero {
    padding: 0 2rem;
  }

  .hero .bg-wrapper {
    max-width: 900px;
  }

  .hero .actions {
    background: #fff;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
    display: flex;
    padding: 14px;
    max-width: 850px;
  }

  .actions input {
    box-shadow: none;
  }

  .actions .input-container {
    width: 80%;
  }
  .actions button {
    margin: 0;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  /* Partners Section */
  .partners .backdrop-text {
    padding: 0 3rem;
  }

  .partners .caption {
    padding: 0 3rem;
  }

  .partners .background-image {
    min-height: 404px;
  }

  .partners .content {
    margin: -20rem 3rem 0;
    max-width: 350px;
    padding: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .content .header-text {
    font-size: 1.5rem;
  }

  .content .button {
    font-size: 1rem;
  }

  /* App */
  .app .container {
    min-height: 314px;
  }

  .app .caption {
    display: block;
  }

  .container .max-w-xl {
    flex-direction: row-reverse;
  }

  .container .content-container {
    width: 55%;
    text-align: left;
    margin-right: auto;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .container .image-container {
    width: 45%;
    text-align: right;
    max-height: 480px;
  }

  .image-container img {
    min-width: 400px;
  }

  .content-container .sub-heading {
    font-size: 1.8rem;
  }

  .content-container .buttons-container {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 960px) {

  nav .login-btn {
    display: inline-flex;
  }

  .hero .bg-wrapper {
    max-height: 400px;
  }

  /* Partners Section */
  .partners .content {
    max-width: 450px;
  }

  /* Cities */
  .cities .container {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
  }

  /* App */
  .app .container {
    padding: 0 2rem;
  }

  .image-container img {
    min-width: 550px;
  }

  .content-container .buttons-container {
    margin-top: 2rem;
  }

  /* Links */
  .links {
    flex-direction: row;
    justify-content: space-between;
  }

  .links .col {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1264px) {
  .hero .bg-wrapper {
    max-height: 500px;
  }

  .hero h3 {
    font-size: 2.8rem;
  }

  /* Partners Section */
  .partners .content {
    max-width: 600px;
    text-align: right;
  }

  .content button {
    max-width: 240px;
    margin-top: 2rem;
  }

  .content p {
    text-align: left;
  }

  .partners .backdrop-text {
    font-size: 6rem;
    top: -130px;
    left: -40px;
  }

  .partners .caption {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 1440px) {
  .hero .bg-wrapper {
    max-height: 550px;
  }
}


@media (min-width: 640px) {
  .fp-header {
      justify-content: space-between;
      padding: 16px;
  }

  .fp-right-section {
      justify-content: flex-end;
  }

  .fp-logo-text {
      font-size: 24px;
  }

  .fp-login-btn, .fp-signup-btn {
      padding: 8px 16px;
      margin: 4px;
  }
}